
.container{
	/*border: 2px solid black;*/
	width: 100%;
	background-color: #F8F8FF;
}
	#nav
	{
		/*background-color: #282828;*/
		text-align: center;
		position: fixed;
		background-color: #2C3539;
		/*height: 80px;*/
		width: 97.8%;
		z-index: 999;
		opacity: 0.98;

		/*left: 0;
		top: 0;*/
		/*width: 100%;
		/*z-index: 10000;
		cursor: default;*/
	}
	
		#nav ul
		{
			margin-bottom: 0;
		}
	
		#nav li
		{
			display: inline-block;
			padding: 25px;
			margin: 0 25px;

		}
		#nav a{
			color: orange;
		}


		
		#nav a
		{
			position: relative;
			display: block;
			color: #fff;
			text-decoration: none;
			outline: 0;
			color: orange;
		}

		
			#nav a:hover
			{
				color: #fff !important;
			}
			
			#nav a.active:before
			{
				content: '';
				display: block;
				position: absolute;
				bottom: -0.6em;
				left: 50%;
				margin-left: -0.75em;
				border-left: solid 0.75em transparent;
				border-right: solid 0.75em transparent;
				border-top: solid 0.6em #282828;
			}


			.parallax{
			height: 300px;
			width:100%;
			z-index: 1;
			;

			}
			#parallax1{
				background-image: url("assets/rsz_ruler.jpg");
				background-attachment: fixed;
				background-size: cover;
			
			}
			#parallax2{
				background-image: url("assets/rsz_ruler1.jpg" );
				background-attachment: fixed;
				background-size: cover;
				
			}
			#parallax3{
				background-image: url("assets/rsz_comp.jpg");
				background-attachment: fixed;
				background-size: cover;
				
			}
			#parallax4{
				background-image: url("assets/rsz_img.jpg");
				background-attachment: fixed;
				background-size: cover;
				
			}
			.contents{
				z-index: 2;
				width: 100%;
			}

	
#cont1{
	/*border: 2px solid black;*/
	height: 390px;
	width: 100%;
	background-color: white;
	padding-top: 90px;

}
#cont1 h1{
	/*text-align: center;*/
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 25px;

}
#cont1 img{
	width:530px;
	height:270px;
}

#description{
	padding-top: 80px;
}
#cont p{
	font-size: 20px;
}
/* hr {
    max-width: 50px;
    border-color: #add43c;
    border-width: 3px;
    text-align: center; */

#cont2{
	/*border: 2px solid black;*/
	height:400px;
	width: 100%;
	background-color: #F8F8FF;
	padding-top: 70px;
	padding-bottom: 80px;

}
#cont2 h2{
	text-align: center;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 30px;
	padding-bottom: 30px;
	padding-right: 20px;

}
#cont2 caption{
	text-align: center;
} 
#cont2 p{
	font-size: 15px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
}
#cont2 img{
	height:130px; 
	width:130px;
	margin-left: 110px;
}
#cont3{
	/*border: 2px solid black*/;
	height: 410px;
	width: 100%;
	background-color: #F8F8FF;
	padding-top: 30px;
	padding-bottom: 120px;
	
}
#cont3 h3{
	text-align: center;
	font-size: 30px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	padding-bottom: 30px;


}#cont3 img{
	width: 130px;
	height:130px;	
	margin-left: 100px;
}
#cont3 p{
	font-size: 15px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;


}
.button3{
	/* background-color: #2C3539; */
/* 	text-align: center;
float:left; */
	/* border-radius: 10px; */
	height:50px;
	margin:70px;
	margin-right: 50px;
	float: right;


}
#cont4{
	/*border: 2px solid black;*/
	height: 530px;
	width: 100%;
	background-color: gainsboro;
	

}
#cont4 p {
	text-align: center;
	text-decoration: courier; 
	color: #778899;	
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size: 25px;

	
}
#contacts{
	padding-top: 80px;
}
#inforcontainer{
		background: transparent;
		position: center;
	}
	.details{
		height: 50px;
		
		margin-left: 120px;
		margin-right: 145px;
		
	}
	input.name {
		
		width:35%; 
		float:left;
		
	}
	input.email{
		
		width:35%; 
		float: right;
		
	}
	input.subject{
		height:50px;
		width:80%;
		float:center;
		margin-right: 120px;
		margin-left: 120px;
		margin-top: 30px;
	}
	input.message{
		height:160px;
		 width:80%; 
		 float:center;
		 margin-top: 30px;
		 margin-left: 120px;
		 margin-right: 120px;

	}
	.button{
		
		float: right;
		/* margin-left: 120px; */
		margin-top: 25px;
		margin-bottom: 30px;
		margin-right: 130px;
		width: 150px;



	}
	.footer{
		text-align:center;
		padding-top: 80px;
		margin-top: 60px;
		background-color: #2C3539;
		padding-bottom: 30px;
	}
	.footer p{
		padding-bottom: 20px;
	}
	.footer li{
		color: white:;
	}
	.footer a{
		padding: 25px;


	}
	hr { 
   /*  display: block; */
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left:120px;
    margin-right: 120px;
   /*  border-style: inset; */
   /*  border-width: 1px; */
}
